---
- name: "{{ recipe_name }}: Start the peer"
  debug:
    msg: "{{lookup('niova_raftprocess', 'start', ServerUUID, apply_handler_version, version)}}"
  register: ret
  failed_when: ret.failed == true
  no_log: false

- name: "{{ recipe_name }}: Wait for server process to bootup completely"
  debug:
    msg: "Wait till bootup completes for Peer {{ ServerUUID }}."
  vars:
    stage: "start_server"
  until: (lookup('niova_ctlrequest', 'lookup', ServerUUID, '/raft_root_entry')['//raft_root_entry'] != "null") and (lookup('niova_ctlrequest', 'lookup', ServerUUID, '/raft_root_entry/0/state')['/0/state'] != "booting")
  retries: 60
  delay: 1
