---


    - name: "{{ recipe_name}}: Get the client parameters after successful write."
      vars:
        stage: "lookup"
        raft_keys:
          - "/pumice_db_test_client/pmdb-test-apps/{{ idx }}/app-user-id"
          - "/pumice_db_test_client/pmdb-test-apps/{{ idx }}/status"
          - "/pumice_db_test_client/pmdb-test-apps/{{ idx }}/pmdb-seqno"
          - "/pumice_db_test_client/pmdb-test-apps/{{ idx }}/pmdb-write-pending"
          - "/pumice_db_test_client/pmdb-test-apps/{{ idx }}/app-sync"
          - "/pumice_db_test_client/pmdb-test-apps/{{ idx }}/app-seqno"
        client_vals: "{{ lookup('niova_ctlrequest', 'lookup', Client_UUID, raft_keys) }}"
      debug:
        msg: "get the values after client write operation: {{ client_vals }}"
      no_log: true
      with_items:
        - "{{ client_vals }}"
      register: client_vals_after_wr

    - name: "{{ recipe_name}}: Verify the client parameters after successful write."
      vars:
        app_uuid_string: "{{ pmdb_apps[idx] | string }}:0:0:0:0"
        app_user_id_index: '/{{ idx }}/app-user-id'
        status_index: '/{{ idx }}/status'
        pmdb_seqno_index: '/{{ idx }}/pmdb-seqno'
        pmdb_write_pd_index: '/{{ idx }}/pmdb-write-pending'
        app_sync_index: '/{{ idx }}/app-sync'
        app_seqno_index: '/{{ idx }}/app-seqno'
      debug:
        msg: "Verify parameters after successful write operation"
      failed_when: >
            (client_vals_after_wr['results'][0]['item'][status_index] != "Success") or
            (client_vals_after_wr['results'][0]['item'][pmdb_seqno_index] != (exp_list[idx] | int - 1)) or
            (client_vals_after_wr['results'][0]['item'][pmdb_write_pd_index] != false) or
            (client_vals_after_wr['results'][0]['item'][app_sync_index] != true) or
            (client_vals_after_wr['results'][0]['item'][app_seqno_index] != (exp_list[idx] | int))
