- name: "{{ recipe_name }}: Get the last written key from rocksdb."
  vars: 
    cf: PMDBTS_CF
  set_fact:
    last_written_key: "{{ lookup('rocksdb_util', leader_uuid, 'last_written', cf)}}"

- name: "{{ recipe_name }}: Get the last applied index from rocksdb."
  set_fact:
    last_applied_index: "{{ lookup('rocksdb_util', leader_uuid, 'last_applied')}}"

- name: "{{ recipe_name }}: Print the last written key." 
  debug:
    msg: "Last written key: {{ last_written_key }}"

- name: "{{ recipe_name }}: Verify the last applied index."
  vars:
    expected_last_applied_index: "{{ ((last_written_key | int) - (start_key | int)) + 1 }}"  
  debug:
    msg: 
      - "Last applied index: {{ last_applied_index }}"
      - "Expected last applied index: {{ expected_last_applied_index }}"
  failed_when: (last_applied_index | int) != (expected_last_applied_index | int)